@import "~bootstrap/bootstrap/scss/bootstrap";
// @import "~bootstrap/bootstrap-icons/font/bootstrap-icons";
@import './partials/variables';
@import './pages/todolist';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    background: linear-gradient(
        30deg,
        hsla(254, 20%, 44%, 0.537) 0%,
        $color-purple 45%
    );
}

body {
    width: 100%;
    background-color: transparent;
}

